/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000; /* Nền đen để tránh loé sáng khi load */
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden; /* Chặn cuộn ngang */
}

/* Tùy chỉnh thanh cuộn cho ngầu (Webkit) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
